p{
	font-family: sans-serif;
}
a:hover{
	background-color: blue;
}
a:link {
  color: blue;
}
a:visited {
  color: magenta;
}
.tryFocus{
	color: red;
}
.boldText {
	font-family: 'Asap Condensed', sans-serif;
	font-weight: bold;
}
.fontSized {
	font-family: 'Acme', sans-serif;
	font-size: 24px;
}
.lineHeight {
	font-family: 'Source Code Pro', monospace;
	line-height: 50px;
}

